.contentBox {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.centered {
  justify-content: center;
  text-align: center;
}

/* Animations */
.left-rotate {
  transition: transform 0.3s ease-in-out;
}

.left-rotate:hover {
  transform: rotate(20deg);
}

/* Header */
.logo-icon {
  font-size: 48px;
  transition: transform 0.3s ease-in-out;
}

.header-container:hover .logo-icon {
  transform: rotate(20deg);
}

/* Footer */
.social-icon {
  font-size: 24px;
}
