/* Body */
body {
  max-width: 100vw;
}

.contentBox {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.centered {
  justify-content: center;
  text-align: center;
}

.list-one-line li {
  display: inline-flex;
  align-items: center;
}

.list-one-line li svg {
  margin-left: 5px;
  margin-right: 5px;
}

/* Header */
.logo-icon {
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.header-container:hover .logo-icon {
  transform: rotate(20deg);
}

/* Footer */
.social-icon {
  font-size: 24px;
}

/* Animations */
.left-rotate {
  transition: transform 0.3s ease-in-out;
}

.left-rotate:hover {
  transform: rotate(20deg);
}
